<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}DEVOURED!{{else}}NOT DEVROURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE BURGER!</button>
</li>